include fancy-image.pug

-
  const adviceRanks = {
    reliable: require("@/assets/star3.gif"),
    unreliable: require("@/assets/star4.gif"),
    speculative: require("@/assets/star.gif"),
    general: require("@/assets/star2.gif")
  }

mixin adviceList(advices)
  ul.advice-list
    if !block
      for item in advices
        li.advice-list__item(
          class= `advice-list__item--${item.rank}`
        )
          +fancyImage(adviceRanks[item.rank], `${item.rank} advice`)
          span.advice-list__advice #{item.advice}
    else
      block
    

mixin adviceItem(rank)
  li.advice-list__item(
    class= `advice-list__item--${rank}`
  )
    +fancyImage(adviceRanks[rank], `${rank} advice`)
    span.advice-list__advice
      block
