mixin fancyQuote(url='', top=false)
  figure.fancy-quote
    if top
      figcaption.fancy-quote__author
        block author
          //- | #{authorName} - #[a(href=url) #[cite #{source}]]

    blockquote.fancy-quote__quote(cite=url)
      block quote
    
    if !top
      figcaption.fancy-quote__author
        block author
          //- | #{authorName} - #[a(href=url) #[cite #{source}]]