mixin fancyImage(url, alt=url, srcset=url, sources=[])
  picture.fancy-image
    if sources.length !== 0
      //- for source of sources
      //-   source.fancy-image__source(
      //-     srcset=source.srcset, 
      //-     type=source.type
      //-   )

    img.fancy-image__image(
      src=url, 
      alt=alt, 
      srcset=srcset
    )